body {
    font-family: "Calibri";
    background: linear-gradient(180deg, #006d2f, #00ca57);
    margin: 0;
}

.container {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

.menu li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: white;
    margin: 0;
    display: inline-block;
    padding: 20px;
    font-weight: bold;
    transition: all 0.15s linear;
    font-size: 1.2em;
}

a:hover {
    background-color: white;
    color: black;
}

a:active {
    background-color: #b7b7b7;
}

h1 {
    font-size: 3em;
    color: white;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: white;
}

.art {
    border-radius: 5px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
