@keyframes fadeOut {
    from {
        display: block;
        opacity: 1;
    }
    to {
        display: none;
        opacity: 0;
    }
}

* {
    cursor: url('../assets/cursor.png'), pointer;
}

body {
    background: linear-gradient(rgb(50 0 0) calc(50% - 185px), rgb(25 0 0) calc(50% - 185px), rgb(25 0 0) calc(50% + 185px), rgb(75 0 0) calc(50% + 185px));
    background-size: cover;
    background-position: center;
}

body.showWall {
    background: linear-gradient(90deg, transparent calc(50% - 90px), rgb(100 0 0) calc(50% - 90px), rgb(80 0 0), rgb(80 0 0), rgb(100 0 0) calc(50% + 90px), transparent calc(50% + 90px)), 
                linear-gradient(rgb(50 0 0) calc(50% - 185px), rgb(25 0 0) calc(50% - 185px), rgb(25 0 0) calc(50% + 185px), rgb(75 0 0) calc(50% + 185px));
}

canvas {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

div.loadingContainer {
    padding: 5px;
    border: 1px solid rgba(255 255 255 / 0.25);
    border-radius: 5px;
    color: white;
    width: fit-content;
    background: rgba(0 0 0 / 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.loadingContainer p {
    margin: 0;
    margin-bottom: 5px;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
    user-select: none;
}

div.loadingContainer.loaded {
    animation: fadeOut forwards .25s;
}

progress {
    appearance: none;
    border-radius: 5px;
    overflow: hidden;
}

progress::-webkit-progress-bar {
    background: rgba(255 0 0 / 0.25);
}

progress::-webkit-progress-value {
    background: rgba(255 0 0 / 0.75);
}

/* .help {
    margin: 10px;
    position: fixed;
    width: 30px;
    height: 30px;
    left: 0;
    top: 0;
    background: rgba(0 0 0 / 0.5);
    color: white;
    border: 1px solid rgba(255 255 255 / 0.25);
    border-radius: 5px;
    transition-duration: .1s;
    outline: none
}

.help:active {
    color: black;
    background: white;
} */

.menu {
    color: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0 0 0 / 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .25s;
    flex-direction: column;
    gap: 10px;
}

.menu h1 {
    font-size: 48px;
    font-family: sans-serif;
    font-weight: normal;
    margin: 0;
}

.menu > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

button {
    border: 1px solid rgba(255 255 255 / 0.25);
    border-radius: 5px;
    padding: 5px;
    background: rgba(0 0 0 / 0.75);
    color: white;
    outline: none;
    transition-duration: .1s;
    width: fit-content;
}

button:hover {
    background: rgba(50 50 50 / 0.75);
}

button:active {
    transform: scale(0.9);
    background: white;
    color: black;
}

.menu.hidden {
    opacity: 0;
}

.menu > div.hidden {
    display: none;
}

div.help p {
    font-family: sans-serif;
    text-align: center;
}