/* 
Catink123's kshr-ctrls library

###
Contains:
	Buttons:
		Normal.
		Flat.
		Transparent.
	Progress Bar.
	Textbox.
###

Created by Catink123
*/

.kshr-txtbox {
	border: 0.1em solid rgb(0, 139, 0);
	padding: 5px 10px;
	border-radius: 5px;
	font-family: 'Calibri';
	font-size: 1.25em;
	font-weight: bold;
	background-color: transparent;
	color: white;
	transition-duration: 0.15s;
	margin: 5px;
}

.kshr-txtbox:hover {
	background-color: rgb(0, 139, 0);
}

.kshr-txtbox:focus {
	color: black;
	background-color: white;
	border: 0.1em solid rgb(0, 255, 0);
}

.kshr-prgbar {
	border: 0.1em solid rgb(0, 139, 0);
	border-radius: 5px;
	padding: 2px;
	height: 38px;
	margin: 5px;
}

.kshr-prgbar[value]::-webkit-progress-bar {
	background-color: transparent;
}

.kshr-prgbar[value]::-webkit-progress-value {
	background-color:rgb(0, 255, 0);
	border-radius: 2px;

}

.kshr-prgbar:not([value])::-webkit-progress-bar {
	background-color:rgba(0, 255, 0, .5);
	border-radius: 2px;
}

.kshr-wide_btn {
	padding: 10px 15px !important;
}

.kshr-wide_prgbar {
	height: 48px !important;
}

.kshr-btn {
	border: 2px solid rgb(0, 139, 0);
	color: white;
	background-color: transparent;
	border-radius: 5px;
	padding: 5px 10px;
	transition-duration: 0.15s;
	font-family: 'Calibri';
	font-size: 1.25em;
	font-weight: bold;
	margin: 5px;
	user-select: none;
	outline: none;
}

.kshr-btn:hover {
	background-color: rgb(0, 139, 0);
	color: white;
}

.kshr-btn:active {
	border: 2px solid rgb(0, 255, 0);
	transform: scale(0.95);
}

.kshr-btn-flat {
	border: 0;
	color: white;
	background-color: rgb(0, 255, 0);
	border-radius: 5px;
	padding: 5px 10px;
	transition-duration: 0.15s;
	font-family: 'Calibri';
	font-size: 1.25em;
	font-weight: bold;
	margin: 5px;
	user-select: none;
	outline: none;
	box-shadow: 0 3px rgb(0, 139, 0);
}

.kshr-btn-flat:active {
	transform: translateY(2px);
	box-shadow: 0 1px rgb(0, 139, 0);
}

.kshr-btn-transparent {
	border: none;
	color: white;
	background-color: transparent;
	border-radius: 5px;
	padding: 7px 12px;
	transition-duration: 0.15s;
	font-family: 'Calibri';
	font-size: 1.25em;
	font-weight: bold;
	margin: 5px;
	user-select: none;
	outline: none;
}

.kshr-btn-transparent:hover {
	background-color: rgba(0, 139, 0, 0.5);
	color: white;
}

.kshr-btn-transparent:active {
	background-color: rgba(0, 255, 0, 0.5);
}

/* Old wide button variants

.kshr-btn-wide-transparent {
	border: 2px solid rgba(0, 139, 0, 0);
	color: white;
	background-color: transparent;
	border-radius: 5px;
	padding: 10px 15px;
	transition-duration: 0.15s;
	font-family: 'Calibri';
	font-size: 1.25em;
	font-weight: bold;
	margin: 5px;
	user-select: none;
	outline: none;
}

.kshr-btn-wide-transparent:hover {
	background-color: rgba(0, 139, 0, 0.5);
	color: white;
}

.kshr-btn-wide-transparent:active {
	#border: 2px solid rgb(0, 255, 0, 0.5);
	background-color: rgba(0, 255, 0, 0.5);
}

.kshr-btn-wide-flat {
	border: 0;
	color: white;
	background-color: rgb(0, 255, 0);
	border-radius: 5px;
	padding: 10px 15px;
	transition-duration: 0.15s;
	font-family: 'Calibri';
	font-size: 1.25em;
	font-weight: bold;
	margin: 5px;
	user-select: none;
	outline: none;
	box-shadow: 0 3px rgb(0, 139, 0);
}

.kshr-btn-wide-flat:active {
	transform: translateY(2px);
	box-shadow: 0 1px rgb(0, 139, 0);
}

.kshr-btn-wide {
	border: 2px solid rgb(0, 139, 0);
	color: white;
	background-color: transparent;
	border-radius: 5px;
	padding: 10px 15px;
	transition-duration: 0.15s;
	font-family: 'Calibri';
	font-size: 1.25em;
	font-weight: bold;
	margin: 5px;
	user-select: none;
	outline: none;
}

.kshr-btn-wide:hover {
	background-color: rgb(0, 139, 0);
	color: white;
}

.kshr-btn-wide:active {
	border: 2px solid rgb(0, 255, 0);
	transform: scale(0.95);
} */
