<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/controls/css/kshr-ctrls.css">
			<link rel="stylesheet" type="text/css" href="/css/controls.css">
            		<script src="/js/main.js"></script>
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<meta name="theme-color" content="#000000" />
			<link rel="shortcut icon" href="/koshka.png">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
