<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="theme-color" content="#006d2f" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="/js/jquery.js"></script>
			<script src="/js/main.js"></script>
		</head>
		<body>
			<div class="menu">
    				<a href="/">Главная</a>
    				<a href="/zhmih">КАТЫ</a>
    				<a href="/acsite">Сайт Anime Clicker</a>
    				<a href="/ac-android">Anime Clicker Android</a>
    				<a href="/artworks">Работы великих мангак</a>
    				<a href="/buttons">Кнопки</a>
    				<a href="/igorlox">ИГОРЬ ЛОХ!!!</a>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
