<!DOCTYPE html>
	<html lang="ru">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/controls/css/kshr-ctrls.css">
			<link rel="stylesheet" type="text/css" href="/css/controls.css">
			<meta name="theme-color" content="#303030" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="/js/jquery.js"></script>
			<script src="/js/main.js"></script>
			<link rel="shortcut icon" href="/koshka.png">
		</head>
		<body>
			<div class="menu">
    				<a href="/"><img src="/koshka.svg" class="koshka" alt="koshka">Главная</a>
    				<!-- <a href="javascript:void(0)" onclick="link('/kit/index.html')">КАТЫ</a> -->
<!--     				<a href="http://animeclicker.simplesite.com/">Сайт Anime Clicker</a> -->
<!--     				<a href="/ac-android/">Mansion of Blood</a> -->
    				<a href="/artworks/">Работы великих мангак</a>
<!--     				<a href="/controls/">[kshr-ctrls]</a> -->
				<a href="/demcreate/">Demotivator Creator</a>
				<a href="/projects/">Проекты</a>
					<!-- <a href="javascript:void(0)" onclick="link('/igorlox/index.html')">ИГОРЬ ЛОХ!!!</a> -->
					<!-- <a href="javascript:void(0)" onclick="link('/teoys/index.html')">TEOYS</a> -->
			</div>
			<p class="loading">Загрузка..</p>
			<script>
				$(".loading").fadeOut(1);
			</script>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
		</body>
	</html>
