<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="theme-color" content="#005625" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="/js/jquery.js"></script>
			<script src="/js/main.js"></script>
		</head>
		<body>
			<div class="menu">
				<img src="koshka.png" width="43px" style="float: left; border-radius: 5px;">
    				<a href="javascript:void(0)" onclick="link('/index.html')">Главная</a>
    				<a href="javascript:void(0)" onclick="link('/kit/index.html')">КАТЫ</a>
    				<a href="http://animeclicker.simplesite.com/">Сайт Anime Clicker</a>
    				<a href="javascript:void(0)" onclick="link('/ac-android/index.html')">Anime Clicker Android</a>
    				<a href="javascript:void(0)" onclick="link('/artworks/index.html')">Работы великих мангак</a>
    				<a href="/buttons">Кнопки</a>
    				<a href="javascript:void(0)" onclick="link('/igorlox/index.html')">ИГОРЬ ЛОХ!!!</a>
			</div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
