<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/secret.css">
			<link href="https://fonts.googleapis.com/css?family=Caveat|Neucha" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=El+Messiri&display=swap" rel="stylesheet">
			<meta name="theme-color" content="#005566" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<script src="/js/jquery.js"></script>
			<script src="/js/main.js"></script>
			<link rel="shortcut icon" href="/koshka.png">
		</head>
		<body>
			<!--<div class="loading"><p>Загрузка..</p></div>
			<script>
				$(document).load(function(){
					$(".loading").fadeOut(1);
				})
			</script>-->
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
